<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration Page</title>
    </head>
    <body>
        <form th:action="@{/log}" th:object="${patient}" method="post">
            Name: <input type="text" th:field="*{patientName}" /><br/>
            Email: <input type="email" th:field="*{email}" /><br/>
            Phone: <input type="tel" th:field="*{phno}" /><br/>
            Address: <input type="text" th:field="*{address}" /><br/>
            DoB: <input type="text" th:field="*{dob}" /><br/>
            Password: <input type="password" th:field="*{password}" required><br><br>
            <button type="submit">Submit</button> 
            <a th:href="@{/log}">Login</a>
        </form>
    </body>
</html>